<div class="row" id="exclusiveCallout">
    <div class="cal-12">

        <div class="well">
            <div class="page-header page-primary">
                <h1>Эксклюзивные объекты
                    <small>
                        &nbsp;&nbsp;&nbsp;Несколько слов...
                    </small>
                </h1>
            </div> <!-- end of page-header -->
            <div class="page-body" id="block-exclusive">
                <h1 class="text-center">Эксклюзивные объекты недвижимости</h1>
                <h2 class="text-center">Аренда вилл и аппартаментов на Кипре</h2>
                <div class="alert alert-info" id="exclusiveAlert">
                    <h3 class="text-center">Здесь представлена недвижимость,
                        которая находится в эксклюзивном управлении компании Orange Holliday villas.
                    </h3>
                </div> <!-- end of exclusiveAlert -->

                <div class="row" id="block-exclusive_filter">
                    <div class="col-sm-6 col-sm-offset-3" id="exclusiveFilter1">
                        <div class="panel panel-info" id="exclusiveFilter">

                            <div class="panel-heading">
                                <h3>Задайте условия поиска</h3>
                            </div> <!-- end of panel-heading -->

                            <div class="panel-body">
                                <form class="form-horisontal">
                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label text-right">Тип сделки:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control " id="dealType">
                                                <option value="1">Аренда посуточная</option>
                                                <option value="2">Аренда долгосрочная</option>
                                                <option value="3">Продажа</option>
                                            </select> <!-- end of dealType -->
                                        </div>
                                    </div> <!-- end of form-group -->

                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label text-right">Тип объекта:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="objectType">
                                                <option value="1">Дом</option>
                                                <option value="2">Таунхаус</option>
                                                <option value="3">Квартира</option>
                                            </select> <!-- end of objectType -->
                                        </div>
                                    </div> <!-- end of form-group -->

                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label text-right">Город:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="city">
                                                <option value="1">Пафос</option>
                                                <option value="2">Лимассол</option>
                                                <option value="3">Ларнака</option>
                                                <option value="3">Айа-Напа</option>
                                                <option value="3">Никоссия</option>
                                            </select> <!-- end of objectType -->
                                        </div>
                                    </div> <!-- end of form-group -->

                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label text-right">Кол-во комнат:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="rooms">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="3">4</option>
                                                <option value="3">5 и более</option>
                                            </select> <!-- end of objectType -->
                                        </div>
                                    </div> <!-- end of form-group -->

                                    <div class="form-group clearfix">
                                        <label class="col-sm-4 control-label text-right">Номер объекта:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="objectNumber" placeholder="№ объекта">
                                            </input> <!-- end of objectType -->
                                        </div>
                                    </div> <!-- end of form-group -->

                                    <div class="form-group clearfix">
                                        <div class="col-sm-7 col-sm-offset-5">
                                            <button class="btn btn-success btn-lg">Найти</button>
                                            <button class="btn btn-warning btn-lg">Очистить</button>
                                        </div>
                                    </div> <!-- end of form-group -->

                                </form> <!-- end of form-horisontal -->
                            </div> <!-- end of panel-body -->

                        </div> <!-- end of panel -->
                    </div> <!-- end of exclusiveFilter -->
                </div> <!-- end of block-exclusive_filter -->

                <div class="row block-object">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Объект № 30595</h3>
                        </div> <!-- end of panel-heading -->
                        <div class="panel-body">
                            sdfsfsfsdfsdsd sdfssdfsd sdfsdfsdfsdf sdfsdfsdfsd
                        </div> <!-- end of panel-body -->
                    </div> <!-- end of panel -->
                </div> <!-- end of block-object -->



            </div> <!-- end of page-body -->

        </div> <!-- end of well -->

    </div> <!-- end of cal-12 -->
</div> <!-- end of mainCallout -->
