<div id="main">
    <div class="carousel slide slideanim" id="mainCarousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#mainCarousel"></li>
            <li data-slide-to="1" data-target="#mainCarousel"></li>
            <li data-slide-to="2" data-target="#mainCarousel"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active" id="slide01">
                <div class="carousel-caption">
                    <h4>Slide 01 message</h4>
                    <p>Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                        не хас долор омиттам!
                    </p>
                </div> <!-- end of carousel-caption -->
            </div> <!-- end of item -->

            <div class="item" id="slide02">
                <div class="carousel-caption">
                    <h4>Slide 02 message</h4>
                    <p>Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                        не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                    </p>
                </div> <!-- end of carousel-caption -->
            </div> <!-- end of item -->

            <div class="item" id="slide03">
                <div class="carousel-caption">
                    <h4>Slide 03 message</h4>
                    <p>Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                        не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                        Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо.
                    </p>
                </div> <!-- end of carousel-caption -->
            </div> <!-- end of item -->

        </div> <!-- end of carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" data-slide="prev" href="#mainCarousel"><span class="icon-prev"></span></a>
        <a class="right carousel-control" data-slide="next" href="#mainCarousel"><span class="icon-next"></span></a>

    </div> <!-- end of mainCarousel -->

    <div class="row slideanim" id="mainCallout">
        <div class="cal-12">

            <div class="well">
                <div class="page-header page-primary">
                    <h1>Недвижимость на Кипре
                        <small>
                            &nbsp;&nbsp;&nbsp;Несколько слов о том, что мы будем рады вам предложить...
                        </small>
                    </h1>
                </div> <!-- end of page-header -->
                <div class="page-body">
                    <p class="lead">
                        Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
                        фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при?
                    </p>
                    <p>
                        Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                        не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                        Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
                        перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
                        Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним
                        дицерет сеа, усу менандри цонсулату еи.
                    </p>
                    <p>
                        Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                        не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                        Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
                        перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
                        Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним дицерет
                        сеа, усу менандри цонсулату еи.
                    </p>
                    <p>
                        Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
                        фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при? Сит ех оффициис перципитур,
                        ат яуо реяуе саперет фастидии, латине тациматес индоцтум хис еи! Про либрис епицуреи
                        цонституто те. Ет хас ехпетенда суавитате перицулис, вери орнатус при ин, ат вереар
                        апериам яуо. Нец аццусамус волуптатибус цу!
                    </p>
                    <p>
                        Цум ат виде нецесситатибус. Ид ест убияуе регионе бонорум! Еи ассум яуандо цонтентионес
                        еум, цу тамяуам дефинитионес хис, но цибо ноструд.
                    </p>
                </div> <!-- end of page-body -->

            </div> <!-- end of well -->

        </div> <!-- end of cal-12 -->
    </div> <!-- end of mainCallout -->
</div> <!-- end of main -->

<div id="exclusive">

    <div class="row slideanim" id="exclusiveCallout">
        <div class="cal-12">

            <div class="well">
                <div class="page-header page-primary">
                    <h1>Эксклюзивные объекты
                        <small>
                            &nbsp;&nbsp;&nbsp;Несколько слов...
                        </small>
                    </h1>
                </div> <!-- end of page-header -->
                <div class="page-body" id="block-exclusive">
                    <h1 class="text-center">Эксклюзивные объекты недвижимости</h1>
                    <h2 class="text-center">Аренда вилл и аппартаментов на Кипре</h2>
                    <div class="alert alert-info" id="exclusiveAlert">
                        <h3 class="text-center">Здесь представлена недвижимость,
                            которая находится в эксклюзивном управлении компании Orange Holliday villas.
                        </h3>
                    </div> <!-- end of exclusiveAlert -->

                    <div class="row" id="block-exclusive_filter">
                        <div class="col-sm-6 col-sm-offset-3" id="exclusiveFilterWrapper">
                            <div class="panel panel-info" id="exclusiveFilter">

                                <div class="panel-heading">
                                    <h3>Задайте условия поиска</h3>
                                </div> <!-- end of panel-heading -->

                                <div class="panel-body">
                                    <form class="form-horisontal">
                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 control-label text-right">Тип сделки:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control " id="dealType">
                                                    <option value="1">Аренда посуточная</option>
                                                    <option value="2">Аренда долгосрочная</option>
                                                    <option value="3">Продажа</option>
                                                </select> <!-- end of dealType -->
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 control-label text-right">Тип объекта:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="objectType">
                                                    <option value="1">Дом</option>
                                                    <option value="2">Таунхаус</option>
                                                    <option value="3">Квартира</option>
                                                </select> <!-- end of objectType -->
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 control-label text-right">Город:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="city">
                                                    <option value="1">Пафос</option>
                                                    <option value="2">Лимассол</option>
                                                    <option value="3">Ларнака</option>
                                                    <option value="3">Айа-Напа</option>
                                                    <option value="3">Никоссия</option>
                                                </select> <!-- end of objectType -->
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 control-label text-right">Кол-во комнат:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="rooms">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="3">4</option>
                                                    <option value="3">5 и более</option>
                                                </select> <!-- end of objectType -->
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 control-label text-right">Номер объекта:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="objectNumber" placeholder="№ объекта">
                                                </input> <!-- end of objectType -->
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="form-group clearfix">
                                            <div class="col-lg-7 col-lg-offset-5 col-md-offset-3 col-sm-offset-1">
                                                <button class="btn btn-success btn-lg">Найти</button>
                                                <button class="btn btn-warning btn-lg">Очистить</button>
                                            </div>
                                        </div> <!-- end of form-group -->

                                    </form> <!-- end of form-horisontal -->
                                </div> <!-- end of panel-body -->

                            </div> <!-- end of panel -->
                        </div> <!-- end of exclusiveFilter -->
                    </div> <!-- end of block-exclusive_filter -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3>Объект № 30595</h3>
                                </div> <!-- end of panel-heading -->

                                <div class="panel panel-body">
                                    <div class="col-sm-5">
                                        <img src="http://placehold.it/400x300" width="100%" class="thumbnail">
                                        <!--<div>-->
                                        <div class="col-lg-7 col-lg-offset-3 col-md-offset-2 col-sm-offset-0">
                                            <button class="btn btn-success btn-lg">Найти</button>
                                            <button class="btn btn-warning btn-lg">Очистить</button>
                                        </div>
                                        <!--</div> &lt;!&ndash; end of form-group &ndash;&gt;-->
                                    </div>
                                    <div class="col-sm-7">
                                        <!--<form class="form-horisontal">-->
                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-3 control-label text-right">Тип сделки:</label>
                                            <div class="col-sm-9 clearfix">
                                                Lorem ipsum dolor sit amet.
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-3 control-label text-right">Тип объекта:</label>
                                            <div class="col-sm-9 clearfix">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                A dolorem ducimus error eveniet ex ipsam itaque nemo omnis
                                                quas ullam?
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-3 control-label text-right">Город:</label>
                                            <div class="col-sm-9">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                =====================
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-3 control-label text-right">Кол-во комнат:</label>
                                            <div class="col-sm-9">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Molestias non, odio quam rem vel veritatis.
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-3 control-label text-right">Город:</label>
                                            <div class="col-sm-9">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                            </div>
                                        </div> <!-- end of form-group -->



                                        <!--</form> &lt;!&ndash; end of form-horisontal &ndash;&gt;-->
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-2 control-label text-right">Город:</label>
                                            <div class="col-sm-10">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                            </div>
                                        </div> <!-- end of form-group -->

                                        <div class="col-sm-12 form-group clearfix">
                                            <label class="col-sm-2 control-label text-right">Город:</label>
                                            <div class="col-sm-10">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Accusantium, aliquid, animi atque consequatur consequuntur
                                                delectus eos expedita fugit laborum minima odio perferendis
                                                provident quia rem repellat sed sunt, veniam voluptatem.
                                            </div>
                                        </div> <!-- end of form-group -->
                                    </div>


                                </div> <!-- end of panel-body -->

                            </div> <!-- end of panel -->
                        </div> <!-- end of col-sm-12 -->

                    </div> <!-- end of block-object -->



                </div> <!-- end of page-body -->

            </div> <!-- end of well -->

        </div> <!-- end of cal-12 -->
    </div> <!-- end of exclusiveCallout -->

</div> <!-- end of exclusive -->



