//
  Main
  =============

  Author:  iStudioDTD.com
  Updated: January 2017
  Notes:	 Hand coded for Orange Holiday Villas

extends ./layout

block header
  include partials/header

block main
  include partials/page

block footer
  include partials/footer




